<div class="jumbotron">
    <h1>NTTDATA Inc</h1>
    <p class="lead">As a company and as individuals, we think through what we do, act differently and transform our business to drive better future for NTT DATA. Mission and Vision statements serve as a guide to achieve our aspirations</p>
    <p><a href="https://www.nttdata.com/global/en/" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>
 
